# Ignore bundler cache and local gem installs
vendor/
.bundle/

# Ignore Jekyll build outputs
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Node.js
node_modules/

# OS-specific files
.DS_Store

# IDE/editor specific files
.vscode/
.idea/

# Do NOT ignore built CSS - needed for GitHub Pages
# assets/css/styles.css
